<form method="post" action="{{ path('app_info_visit_delete', {'id': info_visit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info_visit.id) }}">
    <button class="btn">Delete</button>
</form>
