{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Herald - Administration{% endblock %}

{% block body %}

<div class="max-w-5xl mx-auto items-stretch flex flex-column justify-center bg-white/[.75] min-h-[82%] ">
    <div class=" mt-12 pb-12 overflow-x-hidden h-[670px] lg:h-[670px] w-[100%] lg:w-[900px] justify-center text-center bg-white rounded-2xl shadow-2xl mx-auto">
        <div class="text-center text-2xl pb-4">
            <h1 class="text-5xl font-bold pt-8 min-[950px] pb-2 min-[950px]">Modification d'équipe</h1>

                {{ include('equipes/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
        <a href="{{ path('admin_equipes_show',{'id':equipe.id}) }}">Retour à l'équipe</a>
    </div>
</div>
  
{% endblock %}
