{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Herald - Administration{% endblock %}

{% block body %}

<div class="max-w-5xl mx-auto items-stretch flex flex-column justify-center bg-white/[.75] min-h-[82%] ">
    <div class=" mt-12 pb-12 overflow-x-hidden h-[670px] lg:h-[670px] w-[100%] lg:w-[900px] justify-center text-center bg-white rounded-2xl shadow-2xl mx-auto">
        <div class="text-center text-2xl pb-4">
            <h1 class="text-5xl font-bold pt-2 min-[950px] pb-2 min-[950px]">Création nouvel employé</h1>

               {{ include('users/_form.html.twig') }}

        </div>
        <a href="{{ path('app_users_index') }}" class="hover:font-bold duration-200 text-xl">Retour à la liste</a>
    </div>
</div>

{% endblock %}
